@font-face {
	font-family: 'Fredericka the Great';
	src: url('fonts/Fredericka_the_Great/FrederickatheGreat-Regular.eot');
	src: local('☺'), url('fonts/Fredericka_the_Great/FrederickatheGreat-Regular.woff') format('woff'), url('fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf') format('truetype'), url('fonts/Fredericka_the_Great/FrederickatheGreat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Alternates';
	src: url('fonts/MontserratAlternates/MontserratAlternates-Regular.eot');
	src: local('☺'), url('fonts/MontserratAlternates/MontserratAlternates-Regular.woff') format('woff'), url('fonts/MontserratAlternates/MontserratAlternates-Regular.ttf') format('truetype'), url('fonts/MontserratAlternates/MontserratAlternates-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Parisienne';
	src: url('fonts/Parisienne/Parisienne-Regular.eot');
	src: local('☺'), url('fonts/Parisienne/Parisienne-Regular.woff') format('woff'), url('fonts/Parisienne/Parisienne-Regular.ttf') format('truetype'), url('fonts/Parisienne/Parisienne-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
