header{
    margin-left: auto;
    margin-right: auto;
  }
  
  .HeaderTitle{
    width: 60%;
  }

  header a{
    text-decoration: none;
  }
  
  header h1{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgb(255, 255, 255, .5);
    border: solid 3px #000;
    border-radius: 15px;
  }
  
  header h1 a {
    font-family: "Fredericka the Great";  
    font-size: 5rem;
   margin-left: auto;
    margin-right: auto;
    color: #282c34;
  }
  
  header li{
    color: #ffd700;
    text-shadow: 1px 1px 2px #282c34;
  
  }