.appPresentation, #memberLog, #NewMember {
  background-color: rgb(255, 255, 255);
  border: solid 2px #000;
  border-radius: 15px;
}

.appPresentation{
  padding: 15px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.appPresentation p{
  font-size: 1.1rem;
}

.identifyMe{
    margin-top: 75px;;
    display: flex;
  }
  
  .identifyMe div{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .identifyPage a{
    color: #000;
  }