*{
  box-sizing: content-box;
}

header{
  height: 150px;;
}

#headerButton{
  display: flex;
  justify-content: space-between;
}

h1, h2, h3, p, li, a{
  text-align: center;
}

ul{
  margin:0;
  padding: 0;
}

header li, h2{
  font-family: "Parisienne";
}

li{
 list-style: none;
 padding: 0;
 margin: 0;
}

main{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  font-family: "Montserrat Alternates";
}

main a{
  text-decoration: none;
  color:rgb(5, 0, 0);
}

main a:hover{
  color:aqua;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

main>div{
  width: 100%;
}

main p{
  font-size: 1.4rem;
}

h2, h3{
  text-align: center;
}

h2{
  font-size: 2.8rem;;
}

h3{
  font-size: 2rem;
}

main li{
  font-size: 1.6rem;;
}

.contentBox{
  background-color: #fff;
  width: 60%;
  border: solid 2px #000;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
