.menuButtonBox{
  width: 700px;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

  header ul a{
    width: 25%;
    font-size: 1.5rem;
    margin-left: auto;
  }

.MenuButton li{
  color: #fff;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  font-size: 2rem;
  font-weight: bolder;
}

.backgroundTab{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: solid #fff 2px;
  width: 80%;
}

header ul a li{
  width: 100%;
}

#headerMenuButton{
  margin-left: 20px;
  width: 60px;
}

.PictureBox span{
  display: flex;
  width: 60px;
}

.menuSquare{
  background-color: #fff;
  width: 8px;
  height: 8px;
  margin: 2px;
  border: solid #000 2px;
  border-radius: 4px;

}

 
