#mainHomeContent{
  display: flex;
  justify-content: space-around;
}

#mainHomeContent div{
  width: 33%;
}

#mainHomeContent ul, #mainHomeContent li{
    margin-left: auto;
    margin-right: auto;
  }
  
  #mainHomeContent li{
    font-style: italic;
    font-size: 1.4rem;;
  }