.quickAccess ul{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;   
}

.quickAccess a{
    width: 20%;
    font-size: 1.2rem;;
}

.quickAccess li{
    font-size: 1.2rem;
    font-weight: bolder;
    font-style: oblique;
}

.QuickAccessIcon{
    width: 64px;
    margin-right: 10px;
    margin-bottom: -20px;
}
