header{
    /* position: fixed; */
    width: 100%;
    /* background-image: url(../pictures/wallpaper/flower-gceab30463_1920_header.png);
    background-size: cover; */
 }

 .textEditor{
    display: flex;
    justify-content: space-around;
 }

 .editorToolbar{
    width: 10%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 .editorToolbar li{
    width: 47px;
    height: 47px;
    background: linear-gradient(to right, #a27a3d, #FFD700);
    border:#a27a3d solid 1px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition : transform 1s;
    cursor:pointer;
 }

 .editorToolbar li:hover{
    width: 50px;
 }

 .editorToolbar div{
    border-radius: 50%;
    background-color: #E0E0E0;
    width: 40px;
    height: 40px;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border: solid #fff 1px;
 }

 .editorToolbar div p{
    font-size: 13px;
    font-weight: bold;
 }

 .iconBox{
    display: flex;
    justify-content: center;
 }

 .textEditorIcon{
    width: 80%;
 }

 /* .textEditor{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
 } */

/* .TextEditor{
    display: flex;
}

.toolbar{
    margin-top: 100px;
    margin-left: 40px;
    width: 10%;
    position: fixed;
}

.TextEditor ul{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

.TextEditor li{
    width: 46px;
    height: 46px;
    background: linear-gradient(to right, #a27a3d, #FFD700);
    border-radius: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition : transform 5s;
    cursor:pointer;
}


.TextEditor .toolbar ul li div{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
}

.internalCircle{
    background-color: #E0E0E0;
}

.internalCircle2 {
    background-color: gold;
  }

.TextEditor li img{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.TextEditor .toolbar li .paletteIcon{
    width: 90%;
}

.empty{
    width: 10%;
}

.mainTextZone{
    border: solid 1px #000;
    width: 45%;
    min-height: 1000px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.secondTextZone{
    width: 30%;
    border: solid 1px #000;
    min-height: 800px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    margin-top: 20px;
} */