.buttonPage{
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
  
  .connectButton{
    background-color:#282c34;
    padding-top: 15px;
    color:#ffd700;
    width: 90px;
    height: 40px;
    border-radius: 50%;
    margin-top: 35px;
    margin-right: 60px;
    transition: transform .5s;
  }
  
  .connectButton:hover{
    transform: scale(1.1);
  }
  